body {
		color: rgb(200, 200, 200);
		background: rgb(32, 32, 32);
        /*margin: 2%;
        padding: 5px;*/
	    /* line-height: 1.5;
	    font-size: 14; */
	    font-family: Georgia;
}

a:link {
  color: royalblue;
}

.post {
		background: black; 
		/*border: solid; 
		border-width: 2px; */
		padding: 8px; 
		border-radius: 8px;
		border-color: rgb(0, 0, 64); 
	
}

.post .read { color: deepskyblue;
			  font-weight: normal;
			  display: inline-block;
			  width:90%;}

.post .unread { color: royalblue;
                font-weight: bold;
				display: inline-block;
				width:90%;}

hr.new {
  border: 2px rgb(0, 0, 64);
  border-radius: 5px;
}

body::-webkit-scrollbar {
							width: 15px;   /* width of the entire scrollbar */
}
						
body::-webkit-scrollbar-track {
								background: rgb(29, 32, 35); /* color of the tracking area */ 
}

body::-webkit-scrollbar-track:hover {
								background: rgb(118, 121, 124);
}
							  
body::-webkit-scrollbar-thumb {
								background-color: rgb(61, 174, 233); /* color of the scroll thumb */ 
								border-radius: 3px;  /* roundness of the scroll thumb */ 
}
							  		  